<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite Demo" verbose="1" >
    <test name="The Internet Site Demo" >
        <classes>
            <class name="testcases.TestSearchForm"/>
            <class name="testcases.TestGetPriceDDList"/>
            <class name="testcases.TestDetailsProduct"/>
            <class name="testcases.TestGetInfo"/>
            <!--<class name="testcases.TestCheckBoxes"/>-->
            <!--<class name="testcases.TestDragAndDrop"/>-->
            <!--<class name="testcases.TestDropDown"/>-->
        </classes>
    </test>
</suite>
